*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.root{
  display: flex;
  flex-direction: column;
}

header{
  background-color: rgba(27, 27, 27, 0.753) ;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}
.search{
  color:white;
  padding: 0.5rem 1.6rem;
  border: 2px solid;
  border-radius: 50px;
  background-color: transparent;
  font-size: 1.0rem;
}
 
 

.movie-container{
  display: flex;
  flex-wrap:wrap;
}

.movie{
  background-color: rgba(27, 27, 27, 0.753);
  border-radius: 4px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
  margin: 1rem; 
  width : 300px ;
  overflow: hidden;

}

.movie-content{
  position: relative;
}

.movie img{
  max-width: 100%;
}

.movie img:hover{
  opacity: 0.5;
}

.movie-info{
  display: flex;
  align-items: center; 
  justify-content: space-between;
  
  padding: 1rem;

}
 
movie-info h3, span{
  color : #fff;
}

.movie-over{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  padding: 10px;
  background: rgba(0,0,0,0.6);
  opacity: 0;
  transition: opacity 0.5s;

}

.movie-over h2, p{
  color : #fff
}

.movie-over > *{
  transform: translateY(20px);
  transition: transform 0.5s;
}

.movie-over:hover{
 
  opacity: 1;
}

.movie-over:hover > *{
  transform: translateY(20px);
}

.image-blur{
  backdrop-filter: blur(7px);
}

.carousel {
  padding-top: 30px;
  width: 100%;
  height: auto;
  overflow: hidden;
  object-fit: cover;
}

.carousel img {
  width: 100%;
  height: 100%;
}
